<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ind</title>

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <h1>AK</h1>
                <ul>
                    <li><a class="link" asp-action="Index" asp-controller="Home">Главная</a></li>
                    <li><a class="link" asp-action="Contacts" asp-controller="Home">Контакты</a></li>
                    <li><a class="link" asp-action="Skills" asp-controller="Home">Навыки</a></li>
                    <li><a class="link" asp-action="Index" asp-controller="Contacts">Написать мне</a></li>
                </ul>
            </nav>
            <h1>Кирюхин Артем Сергеевич</h1>
        </header>
    
        <main role="main">
            @RenderBody()
    </main>
        <footer>
            <h2>Мое резюме</h2>
            <p>
                <a class="link" asp-action="Index" asp-controller="Contacts">Написать мне</a>
            </p>

        </footer>

    
    </div>

    <script src="~/js/navigation.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
