@using CV.Frontend.ViewModels;
@model FeedbackViewModel

<div class="connect">
<form asp-action="OnFeedback" asp-controller="Contacts" method="post">
    
        <section>
            <h3>Тема сообщения</h3>
            <input type="text" asp-for="Title">
            <span asp-validation-for="Title"></span>
        </section>
        <section>
            <h3>Сообщение</h3>
            <textarea asp-for="Message"></textarea>
            <span asp-validation-for="Message"></span>
        </section>
        <section>
            <h3>Ваш почтовый адрес</h3>
            <input asp-for="Mail" type="email">
            <span asp-validation-for="Mail"></span>
        </section>
    
    <button type="submit" class="btn_submit">Отправить</button>
</form>
</div>
