
<header class="header">
    <h2 class="header_title">
        Ваше сообщение было успешно отправлено мне!
    </h2>
</header>

<h2 class="header_title">
    Ожидайте ответа в скором времени!
</h2>

<a asp-action="Index" asp-controller="Home">
    Вернуться на главную
</a>
