################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Database/DatabaseInformation.cs
/CV_Telegram_Bot/venv/bot_settings.py