:root {
    --textarea-size: 16px;
    --text-size: 20px;
    --header-size: 32px;
    --nav-mobile-size: 40px;
    --dark-text-color: #a0a0a0;
    --dark-bgr-color: #101010;
    --dark-text-main-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--dark-bgr-color);
}

a, .link, p, input {
    font-size: var(--text-size);
}

textarea {
    font-size: var(--textarea-size);
}

.link {
    color: var(--dark-text-color);
    transition: 0.3s all;
}

    .link:hover {
        color: var(--dark-text-main-color);
        transition: 0.3s all;
    }

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    margin: 0;
}

    header h1 {
        margin: 10% auto;
        text-align: center;
        font-size: var(--header-size);
        color: var(--dark-text-main-color);
    }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

    nav h1 {
        margin: 0;
        color: var(--dark-text-main-color);
        font-size: var(--header-size);
        font-weight: 900;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

        nav ul li {
            padding: 0;
            margin-right: 20px;
        }

            nav ul li:last-of-type {
                margin-right: 0;
            }

            nav ul li a {
                text-decoration: none;
                padding: 20px;
            }

section {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
}

    section h2 {
        width: 30%;
        font-weight: 300;
        color: var(--dark-text-color);
        font-size: var(--header-size);
    }

    section p {
        width: 70%;
        font-weight: 500;
        text-align: justify;
        font-size: var(--text-size);
        color: var(--dark-text-main-color);
    }

.connect {
    padding: 20px;
    text-align: center;
}

    .connect section {
        text-align: left;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        margin: 0 auto;
    }

        .connect section h3 {
            width: 30%;
            font-weight: 300;
            color: var(--dark-text-color);
            font-size: var(--header-size);
        }

        .connect section input, .connect section textarea {
            width: 60%;
            margin: 0;
            background: transparent;
            border: var(--dark-text-color) 1px solid;
            font-weight: 300;
            resize: vertical;
            color: var(--dark-text-main-color);
            text-align: center;
            transition: 0.3s all;
        }

            .connect section input:active, .connect section textarea:active {
                border: #fff 4px solid;
                transition: 0.3s all;
            }

        .connect section span {
            width: 20%;
            margin: 0 0 0 5%;
            font-weight: 300;
            color: var(--dark-text-main-color);
            font-size: var(--text-size);
        }

    .connect button {
        margin: 0 auto;
        background: transparent;
        border: var(--dark-text-color) 1px solid;
        font-weight: 100;
        font-size: var(--text-size);
        color: var(--dark-text-color);
        transition: 0.3s all;
    }

        .connect button:hover {
            border: var(--dark-text-main-color) 1px solid;
            color: var(--dark-text-main-color);
            cursor: pointer;
            transition: 0.3s all;
        }


.contacts {
    align-items: center;
    text-align: center;
}

.contact {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    background: var(--dark-bgr-color);
    margin-bottom: 10%;
    transition: 0.4s all;
}

    .contact:hover {
        padding: 20px 0;
        cursor: pointer;
        transition: 0.4s all;
    }

    .contact a {
        text-decoration: none;
    }

    .contact img {
        width: 150px;
        border-radius: 50%;
        background-color: transparent;
    }

    .contact h3 {
        color: var(--dark-text-main-color);
    }



footer {
    margin-top: 50%;
    align-items: center;
    color: var(--dark-text-main-color);
    text-align: center;
    border-top: 1px solid #fff;
}

    footer h2 {
        font-weight: 500;
    }

@media screen and (max-width: 1352px) {
    .connect section h3 {
        font-size: var(--text-size);
    }

    .connect section span {
        font-size: var(--textarea-size);
    }
}



@media screen and (max-width: 1119px) {

    .container {
        width: 90%;
    }

    section {
        padding: 0;
    }


    .connect section {
        display: block;
        align-items: center;
    }

        .connect section h3 {
            font-size: var(--text-size);
        }

        .connect section span {
            font-size: var(--textarea-size);
        }

        .connect section h3,
        .connect section input, .connect section textarea,
        .connect section span {
            width: 100%;
            padding: 0;
        }

    .connect section {
        padding: 0;
        margin: 0 0 5% 0;
    }

        .connect section h3 {
            margin: 0 0 1% 0;
            font-size: var(--header-size);
        }

        .connect section input, .connect section textarea {
            margin: 0 0 1% 0;
            font-size: var(--text-size);
        }

        .connect section span {
            margin: 0;
            font-size: var(--text-size);
        }
}

@media screen and (max-width: 950px) {
    nav {
        display: block;
        align-items: center;
        text-align: center;
    }

        nav ul {
            display: block;
            padding: 0;
            margin: 0;
        }

            nav ul li {
                margin: 5% 0;
            }

                nav ul li a {
                    font-size: var(--nav-mobile-size);
                }
}

@media screen and (max-width: 800px) {
    main {
        width: 100%;
    }

    section {
        display: block;
        text-align: center;
        align-items: center;
        margin-top: 20%;
    }

        section h2,
        p {
            margin: 0 auto;
        }

        section p {
            text-align: center;
        }
}

@media screen and (max-width: 550px) {
    .container {
        width: 100%;
    }

    section {
        display: block;
        text-align: center;
        align-items: center;
        margin-top: 20%;
    }

        section h2 {
            font-size: var(--header-size);
        }

        section h2,
        p {
            margin: 0 auto;
            padding: 0;
            width: 100%;
        }

        section p {
            text-align: center;
            font-size: var(--text-size);
        }

    .connect button {
        font-size: var(--header-size);
    }
}
