



<header class="header">
    <h2 class="header_title">
        Связаться со мной
    </h2>
</header>

<form>
    <section class="section">
        <h2 class="subtitle">
            Тема сообщения
        </h2>
        <input class="input" type="text" placeholder="Например: реклама, оффер">
    </section>
    <section class="section">
        <h2 class="subtitle">
            Сообщение
        </h2>
        <textarea class="textarea" type="text"></textarea>
    </section>
    <section class="section">
        <h2 class="subtitle">
            Ваша почта
        </h2>
        <input class="input" type="email">
    </section>
    <button type="submit" class="btn_submit">Отправить</button>
</form>
