<div class="contacts">
    <div class="contact">
        <a href="https://tlgg.ru/glamfuneral" target="_blank">
            <img src="~/images/Tg.png" alt="">
            <h3>Telegram</h3>
        </a>
    </div>
    <div class="contact">
        <a href="https://github.com/artemkiruhin" target="_blank">
            <img src="~/images/gh.png" alt="">
            <h3>GitHub</h3>
        </a>
    </div>
    <div class="contact">
        <a href="https://vk.com/delly1" target="_blank">
            <img src="~/images/Vk.png" alt="">
            <h3>ВКонтакте</h3>
        </a>
    </div>
</div>
