<header class="header">
    <h2 class="header_title">
        Мои контакты
    </h2>
    <div class="header_content">
    </div>
</header>
<div class="contact_list">
    <div class="contact_row">
        <section class="contact">
            <a href="" class="contact_link">
                <img class="contact_img" src="~/images/Tg.png">
            </a>

            <h3 class="contact_title">
                <a href="" class="contact_text_link">
                    Telegram
                </a>
            </h3>

        </section>
        <section class="contact">
            <a href="" class="contact_link">
                <img class="contact_img" src="~/images/gh.png">
            </a>

            <h3 class="contact_title">
                <a href="" class="contact_text_link">
                    GitHub
                </a>
            </h3>

        </section>
        <section class="contact">
            <a href="" class="contact_link">
                <img class="contact_img" src="~/images/Vk.png">
            </a>

            <h3 class="contact_title">
                <a href="" class="contact_text_link">
                    VK
                </a>
            </h3>

        </section>
    </div>


</div>


