@using CV.Models
@model IEnumerable<Feedback>

<h1>Feedback</h1>

<table>
    <thead>
        <tr>
            <th>Sender</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model)
        {
            <tr>
                <td>@feedback.Sender</td>
                <td>@feedback.Title</td>
                <td>@feedback.Message</td>
            </tr>
        }
    </tbody>
</table>
