<div class="about">

    <section>
        <h2>
            Что это за сайт?
        </h2>
        <p>
            Это мое резюме, сделано оно преимущественно для работодателей с целью показать свои основные
            навыки
            в веб-разработке. Этот сайт будет расширяться и улучшаться в будущем.
        </p>
    </section>
    <section>
        <h2>
            Кто я?
        </h2>
        <p>
            Я - студент Дмитровского Института Непрерывного Образования.
            Очень люблю программировать и развиваться в IT-сфере.
            Обожаю заниматься спортом и писать музыку.
        </p>
    </section>
    <section>
        <h2>
            Немного биографии
        </h2>
        <p>
            Еще в школьные годы на уроках информатики я познакомился с графическим языком программирования
            Scratch.
            В тот момент я понял, что мне стало интересно что-то создавать.
            Позже в школьной программе появился Pascal, и мне такого рода программирование понравилось
            гораздо
            больше, нежели расставление разноцветных блоков.
            В 2019 году написал первые строчки кода на Python.
            Далее, в 2021 году, заинтересовался версткой сайтов, изучал HTML, CSS и методологию БЭМ.
            Однако разработка frontend-части для меня оказалась несколько скучной. Я хотел больше писать
            программы.
            Тогда, в 2022 году я начал пробовать себя в Java и C++. Изначально я не любил C#, но в учебной
            программе моего института была разработка на C#.
            Поработав с этим языком программирования, я понял насколько им приятно пользоваться.
            С того момента я стал активно изучать C# и .NET. И, так как мне больше нравится разработка
            сайтов, я
            развиваюсь в технологии ASP.NET. Также готов развивать навыки в PHP.
        </p>
    </section>

</div>