@using CV.Models
@model IEnumerable<Feedback>

<h1>Feedback</h1>

<header class="header">
    <h2 class="header_title">
        Я - Кирюхин Артем Сергеевич
    </h2>
    <div class="header_content">
    </div>
</header>

<section class="section">
    <h2 class="subtitle">
        Что это за сайт?
    </h2>
    <p class="text">
        Это мое резюме, сделано оно преимущественно для работодателей с целью показать свои основные навыки
        в веб-разработке. Этот сайт будет расширяться и улучшаться в будущем.
    </p>
</section>
<section class="section">
    <h2 class="subtitle">
        Кто я?
    </h2>
    <p class="text">
        Я - студент Дмитровского Института Непрерывного Образования.
        Очень люблю программировать и развиваться в IT-сфере.
        Обожаю заниматься спортом и писать музыку.
    </p>
</section>
<section class="section">
    <h2 class="subtitle">
        Немного биографии
    </h2>
    <p class="text">
        Еще в школьные годы на уроках информатики я познакомился с графическим языком программирования
        Scratch.
        В тот момент я понял, что мне стало интересно что-то создавать.
        Позже в школьной программе появился Pascal, и мне такого рода программирование понравилось гораздо
        больше, нежели расставление разноцветных блоков.
        В 2019 году написал первые строчки кода на Python.
        Далее, в 2021 году, заинтересовался версткой сайтов, изучал HTML, CSS и методологию БЭМ.
        Однако разработка frontend-части для меня оказалась несколько скучной. Я хотел больше писать
        программы.
        Тогда, в 2022 году я начал пробовать себя в Java и C++. Изначально я не любил C#, но в учебной
        программе моего института была разработка на C#.
        Поработав с этим языком программирования, я понял насколько им приятно пользоваться.
        С того момента я стал активно изучать C# и .NET. И, так как мне больше нравится разработка сайтов, я
        развиваюсь в технологии ASP.NET.
    </p>
</section>