
<section>
    <h2>
        C#
    </h2>
    <p>
        Владею языком программирования C#. ASP.NET (MVC, Razor Pages), WEB API, Entity Framework - это основные
        технологии, с которыми я работаю.
        Также знаком с WPF и WinForms.
        Работаю преимущественно с архитектурой MVC.
        В работе также использую LINQ.
    </p>
</section>
   
        <section>
            <h2>
                SQL
            </h2>
            <p>
                Пользуюсь MSSQL Server и MySQL.
            </p>
        </section>

        <section>
            <h2>
                Прочие hard-skills
            </h2>
            <p>
                Использую HTML, CSS, нативный JS, смогу создать простой фронтенд. Имею базовые знания в Git
                и в следующих языках программирования:
                Python, PHP, Java, C++. Также есть опыт в разработке смарт-контрактов на языке Solidity на
                пратформе Ethereum
                (2022 - 2023 участвовал в соревнованиях WorldSkills и занял 2-е место на региональном этапе
                (диплом присутствует)).

            </p>
        </section>
        <section>
            <h2>
                Soft-skills
            </h2>
            <p>
                Стремление к развитию в сфере IT.
                Ответственно подхожу к работе, местами дотошно.
                Пунктуален.

            </p>
        </section>
        <section>
            <h2>
                Мои цели
            </h2>
            <p>
                Планирую разрабатывать серверную часть приложений.
                Хочу найти работу на должности backend разработчика, а также дружный коллектив,
                наставников и единомышленников.
                Что касается целей в хард-скиллах, так это: изучение MongoDB, Redis, React.js, SCSS и прочие препроцессоры. При необходимости могу развиваться и работать на PHP и Java.
            </p>
        </section>
