<header class="header">
    <h2 class="header_title">
        Мои навыки
    </h2>
</header>
<section class="section_v2">
    <div class="skill_list">
        <div class="skill">
            <h3 class="skill_title">
                C#
            </h3>
            <p class="skill_text">
                Владею языком программирования C#. ASP.NET, WEB API, Entity Framework - это основные
                технологии, с которыми я работаю.
                Также знаком с WPF и WinForms.
                Работаю преимущественно с архитектурой MVC.
                В работе также использую LINQ
            </p>
        </div>
        <div class="skill">
            <h3 class="skill_title">
                SQL
            </h3>
            <p class="skill_text">
                Пользуюсь MSSQL и MySQL.
            </p>
        </div>
        <div class="skill">
            <h3 class="skill_title">
                Прочие hard-skills
            </h3>
            <p class="skill_text">
                Использую HTML, CSS, нативный JS, смогу создать простой фронтенд. Имею базовые знания в Git
                и в следующих языках программирования:
                Python, PHP, Java. Также есть опыт в разработке смарт-контрактов на языке Solidity на
                пратформе Ethereum
                (2022 - 2023 участвовал в соревнованиях WorldSkills и занял 2-е место на региональном этапе
                (диплом присутствует)).

            </p>
        </div>
        <div class="skill">
            <h3 class="skill_title">
                Soft-skills
            </h3>
            <p class="skill_text">
                Стремление к развитию в сфере IT.
                Ответственно подхожу к работе, местами дотошно.
                Пунктуален.

            </p>
        </div>
        <div class="skill">
            <h3 class="skill_title">
                Мои цели
            </h3>
            <p class="skill_text">
                Планирую разрабатывать серверную часть приложений.
                Хочу найти работу на должности backend разработчика, а также дружный коллектив,
                наставников и единомышленников.

            </p>
        </div>
    </div>


</section>